/* line 17, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 12, ../scss/main.scss */
html {
  background-color: #940700;
  color: #ffc5c2;
}
/* line 15, ../scss/main.scss */
html body {
  width: 100%;
  background-color: #940700;
}
/* line 19, ../scss/main.scss */
html body .container {
  min-height: 800px;
}

@font-face {
  font-family: 'Constantine';
  src: url(../assets/fonts/constantine/Constantine.ttf);
}

@font-face {
  font-family: 'FiraSansBook';
  src: url(../assets/fonts/FiraSans/FiraSans-Book.otf);
}

@font-face {
  font-family: 'RobotoSlab';
  src: url(../assets/fonts/RobotoSlab/RobotoSlab-Regular.ttf);
}

/* line 38, ../scss/main.scss */
.cur-pointer {
  cursor: pointer;
}

/* line 41, ../scss/main.scss */
input:focus, button:focus {
  outline: none;
}

/* line 44, ../scss/main.scss */
.scrollable {
  overflow-y: auto;
}

/* line 45, ../scss/main.scss */
.scrollable::-moz-appearance:scrollbar {
  width: 8px;
  height: 16px;
}

/* line 49, ../scss/main.scss */
.scrollable::-webkit-scrollbar {
  width: 8px;
  height: 16px;
}

/* line 53, ../scss/main.scss */
.scrollable::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset 1px 1px 0 rgba(0, 0, 0, 0.1), inset 0 -1px 0 rgba(0, 0, 0, 0.07);
}

/* line 57, ../scss/main.scss */
.scrollable::-webkit-scrollbar-button {
  width: 0;
  height: 0;
  display: none;
}

/* line 62, ../scss/main.scss */
.scrollable::-webkit-scrollbar-corner {
  background-color: transparent;
}

/* line 67, ../scss/main.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Constantine';
  color: white;
}

/* line 71, ../scss/main.scss */
h1 {
  font-size: 40px;
}

/* line 74, ../scss/main.scss */
.text-primary {
  color: #940700;
}

/* line 77, ../scss/main.scss */
.btn {
  font-family: 'RobotoSlab';
}

/* line 80, ../scss/main.scss */
.btn-primary {
  background-color: white;
  border: none;
  color: #940700;
  font-family: 'Constantine';
  -webkit-transition: background-color 1s;
  -moz-transition: background-color 1s;
  -o-transition: background-color 1s;
  transition: background-color 1s;
}

/* line 90, ../scss/main.scss */
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
  background-color: #940700;
}

/* line 95, ../scss/main.scss */
.open
> .dropdown-toggle.btn-primary {
  background-color: #940700;
}

/* line 99, ../scss/main.scss */
.dropdown-toggle {
  height: 32px;
}

/* line 102, ../scss/main.scss */
.dropdown-menu {
  min-width: 125px;
}

/* line 108, ../scss/main.scss */
.dropdown-menu >
li >
a {
  color: #940700;
  font-family: 'FiraSansBook';
  padding: 5px 10px;
  text-align: right;
}

/* line 117, ../scss/main.scss */
.dropdown-menu >
li >
a:hover, a:focus {
  color: white;
  background-image: none;
  background-color: #940700;
}

/* line 123, ../scss/main.scss */
.modal {
  color: #940700;
}
/* line 126, ../scss/main.scss */
.modal .modal-title {
  color: #940700;
  font-size: 24px;
}
/* line 131, ../scss/main.scss */
.modal label {
  vertical-align: middle;
  line-height: 34px;
}
/* line 135, ../scss/main.scss */
.modal .fa-close {
  float: right;
  position: relative;
  top: -40px;
  right: -5px;
  color: #940700;
}

/* line 146, ../scss/main.scss */
.content {
  margin-top: 25px;
}

/* line 150, ../scss/main.scss */
.no-vids-error {
  margin: 150px 0px 0px 0px;
  font-size: 25px;
  font-family: 'Constantine';
  text-align: center;
  color: white;
}

/* line 157, ../scss/main.scss */
#header {
  height: 60px;
  text-align: right;
  padding-top: 20px;
}
/* line 162, ../scss/main.scss */
#header h1 {
  margin-left: 20px;
  margin-top: 0px;
  color: #940700;
  background-color: white;
}
/* line 167, ../scss/main.scss */
#header h1 span {
  margin-left: 12px;
  color: white;
  background-color: #940700;
}
/* line 174, ../scss/main.scss */
#header .autocompletes {
  z-index: 1000;
}
/* line 177, ../scss/main.scss */
#header #auto-suggest-wrapper {
  text-align: left;
  float: right;
  background-color: white;
  color: #940700;
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-bottom-left-radius: 5px;
  border-bottom-left-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px;
  -webkit-box-shadow: 1px 2px 3px black;
  -moz-box-shadow: 1px 2px 3px black;
  box-shadow: 1px 2px 3px black;
  z-index: 10000;
  margin-top: -10px;
  width: 100%;
}
/* line 188, ../scss/main.scss */
#header #auto-suggest-wrapper .tomato, #header #auto-suggest-wrapper .rotten {
  background-image: url("../assets/images/tp-spritesheet.png");
  width: 22px;
  height: 20px;
  background-size: 82px;
  float: left;
  margin-bottom: -20px;
  position: relative;
  top: -2px;
  right: 24px;
}
/* line 199, ../scss/main.scss */
#header #auto-suggest-wrapper .rotten {
  background-position: -21px 0px;
}
/* line 202, ../scss/main.scss */
#header #auto-suggest-wrapper .auto-suggest {
  width: 100%;
  float: right;
  display: inline;
  border-left: none;
  padding-left: 30px;
}
/* line 209, ../scss/main.scss */
#header #auto-suggest-wrapper .auto-suggest:hover {
  color: #ff0d00;
}
/* line 212, ../scss/main.scss */
#header #auto-suggest-wrapper span:first-child {
  border-top: none !important;
}
/* line 215, ../scss/main.scss */
#header #auto-suggest-wrapper span:last-child {
  border-bottom: none !important;
}

/* line 221, ../scss/main.scss */
.programs-list >
li {
  margin-top: 15px;
}

/* line 224, ../scss/main.scss */
.programs-list {
  max-height: 788px;
  overflow: auto;
  overflow-x: hidden !important;
  background-color: #940700;
}
/* line 230, ../scss/main.scss */
.programs-list li:first-child {
  margin-top: 0px;
}
/* line 234, ../scss/main.scss */
.programs-list .genre-videos:nth-child(-n+3) {
  margin-top: 0px;
}
/* line 238, ../scss/main.scss */
.programs-list .genre-videos {
  height: 200px;
  float: left;
  margin: 40px 20px 10px 0;
}
/* line 243, ../scss/main.scss */
.programs-list .genre-videos .rating-container {
  width: 201px;
  clear: both;
}
/* line 248, ../scss/main.scss */
.programs-list .genre-videos iframe {
  width: 200px;
  height: 200px;
  clear: both;
  float: left;
}
/* line 255, ../scss/main.scss */
.programs-list .rating-container {
  width: 640px;
  background-color: white;
  -webkit-border-radius: 5px 5px 0px 0px;
  -moz-border-radius: 5px 5px 0px 0px;
  -ms-border-radius: 5px 5px 0px 0px;
  -o-border-radius: 5px 5px 0px 0px;
  border-radius: 5px 5px 0px 0px;
  -webkit-box-shadow: 0px 0px 4px 1px black inset;
  -moz-box-shadow: 0px 0px 4px 1px black inset;
  box-shadow: 0px 0px 4px 1px black inset;
}
/* line 261, ../scss/main.scss */
.programs-list .rating-container h4 {
  color: #940700;
  padding: 5px 15px;
}
/* line 266, ../scss/main.scss */
.programs-list .ratingQueryLarge {
  display: inline;
  color: #940700;
  margin-top: 5px;
  margin-bottom: 5px;
  outline: none;
}

/* line 275, ../scss/main.scss */
.logo .side-nav-sm {
  height: 115px;
}
/* line 278, ../scss/main.scss */
.logo .side-nav-sm li {
  display: none;
}

/* line 283, ../scss/main.scss */
.side-nav {
  width: 200px;
  height: 830px;
  background-color: white;
  padding-top: 94px;
  margin-top: -70px;
  -webkit-border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  -ms-border-radius: 5px 5px 5px 5px;
  -o-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  -webkit-box-shadow: 1px 2px 3px black;
  -moz-box-shadow: 1px 2px 3px black;
  box-shadow: 1px 2px 3px black;
  z-index: 1;
  color: #940700;
}
/* line 293, ../scss/main.scss */
.side-nav li {
  font-size: 19px;
  width: 100%;
  height: 40px;
  float: right;
  text-align: center;
  line-height: 44px;
  font-family: 'FiraSansBook';
  -webkit-transition: background-color 1s;
  -moz-transition: background-color 1s;
  -o-transition: background-color 1s;
  transition: background-color 1s;
}
/* line 303, ../scss/main.scss */
.side-nav li.active {
  color: white;
  background-color: #940700;
}
/* line 307, ../scss/main.scss */
.side-nav li:hover {
  background-color: #940700;
  color: white;
}

/* line 313, ../scss/main.scss */
.has-error input {
  -webkit-animation: glow 800ms ease-out infinite alternate;
  -moz-animation: glow 800ms ease-out infinite alternate;
  -o-animation: glow 800ms ease-out infinite alternate;
  -ms-animation: glow 800ms ease-out infinite alternate;
  animation: glow 800ms ease-out infinite alternate;
}

/* line 321, ../scss/main.scss */
footer {
  text-align: center;
  background-color: #333;
  color: #3CF;
  height: 130px;
  width: 100%;
  float: right;
  position: relative;
  bottom: -60px;
  line-height: 28px;
  font-family: 'RobotoSlab';
}
/* line 332, ../scss/main.scss */
footer a {
  text-decoration: none;
  color: white;
}
/* line 336, ../scss/main.scss */
footer .navbar-nav li a {
  text-shadow: none;
}
/* line 339, ../scss/main.scss */
footer .nav li a:hover, footer .nav li a:focus {
  background-color: #333;
  color: #940700;
}
/* line 343, ../scss/main.scss */
footer ul {
  width: 100%;
  display: block;
}
/* line 347, ../scss/main.scss */
footer li {
  width: 25%;
  padding-top: 25px;
  padding-bottom: 25px;
}
/* line 352, ../scss/main.scss */
footer li:hover {
  background-color: transparent;
}

/*==================== Rated Trailers Styles ==============================
=========================================================================*/
/* line 359, ../scss/main.scss */
.rated-trailers-wrapper h3 {
  font-size: 20px;
}
/* line 362, ../scss/main.scss */
.rated-trailers-wrapper .programs-list {
  width: 900px;
  overflow-x: scroll !important;
  white-space: nowrap;
  padding-left: 10px;
  height: 255px;
}
/* line 369, ../scss/main.scss */
.rated-trailers-wrapper .programs-list li:first-child {
  margin-top: 15px;
}
/* line 373, ../scss/main.scss */
.rated-trailers-wrapper .programs-list li {
  display: inline-block;
  /* if you need ie7 support */
  *display: inline;
  margin-right: 15px;
}
/* line 381, ../scss/main.scss */
.rated-trailers-wrapper .programs-list .rating-container {
  width: 300px;
}
/* line 385, ../scss/main.scss */
.rated-trailers-wrapper .programs-list iframe {
  height: 200px;
  width: auto;
  float: left;
  clear: both;
}
/* line 393, ../scss/main.scss */
.rated-trailers-wrapper .star-block {
  height: 241px;
  line-height: 241px;
  float: left;
}
/* line 398, ../scss/main.scss */
.rated-trailers-wrapper .star-block .glyphicon-star {
  font-size: 40px;
}
/* line 403, ../scss/main.scss */
.rated-trailers-wrapper .row:nth-child(2) .glyphicon-star {
  color: #FFD700;
}
/* line 408, ../scss/main.scss */
.rated-trailers-wrapper .row:nth-child(3) .glyphicon-star {
  color: #c0c0c0;
}
/* line 414, ../scss/main.scss */
.rated-trailers-wrapper .row:nth-child(4) .glyphicon-star {
  color: #A08E8E;
}
/* line 420, ../scss/main.scss */
.rated-trailers-wrapper .row:nth-child(5) .glyphicon-star {
  color: #C87533;
}

/*==================== Transitions & Keyframes ==============================
=========== Should probably move this out and import it sometime ==========*/
@-webkit-keyframes glow {
  /* line 429, ../scss/main.scss */
  0% {
    box-shadow: 0 0 5px rgba(255, 0, 0, 0.2);
  }

  /* line 433, ../scss/main.scss */
  100% {
    box-shadow: 0 0 20px rgba(255, 0, 0, 0.6);
  }
}

@-moz-keyframes glow {
  /* line 439, ../scss/main.scss */
  0% {
    box-shadow: 0 0 5px rgba(255, 0, 0, 0.2);
  }

  /* line 443, ../scss/main.scss */
  100% {
    box-shadow: 0 0 20px rgba(255, 0, 0, 0.6);
  }
}

@-o-keyframes glow {
  /* line 449, ../scss/main.scss */
  0% {
    box-shadow: 0 0 5px rgba(255, 0, 0, 0.2);
  }

  /* line 454, ../scss/main.scss */
  100% {
    box-shadow: 0 0 20px rgba(255, 0, 0, 0.6);
  }
}

@-ms-keyframes glow {
  /* line 460, ../scss/main.scss */
  0% {
    box-shadow: 0 0 5px rgba(255, 0, 0, 0.2);
  }

  /* line 465, ../scss/main.scss */
  100% {
    box-shadow: 0 0 20px rgba(255, 0, 0, 0.6);
  }
}

@keyframes glow {
  /* line 471, ../scss/main.scss */
  0% {
    box-shadow: 0 0 5px rgba(255, 0, 0, 0.2);
  }

  /* line 475, ../scss/main.scss */
  100% {
    box-shadow: 0 0 20px rgba(255, 0, 0, 0.6);
  }
}
