<div class="content">
	<div class="row">
		<div class="col-md-12">
			<div class="rated-trailers-wrapper">
				<h3>Rated Trailers</h3>
				<div class="row">
					<div class="col-md-12">
						<div class="star-block">
							<i class="glyphicon glyphicon-star"></i>
							<i class="glyphicon glyphicon-star"></i>
							<i class="glyphicon glyphicon-star"></i>
							<i class="glyphicon glyphicon-star"></i>					
							<i class="glyphicon glyphicon-star"></i>
						</div>
						<ul class="programs-list" ng-repeat="video in vm.videos">
					 		<li>
								<span class="rating-container pull-left" ng-if="vm.userState.user !== null"><h4>Rating: <rating ng-click="vm.saveRating(video.url, video.userRating)" class="ratingQueryLarge" ng-model="video.userRating" max="5" on-hover="hoveringOver(value)" on-leave="overStar = null"></rating> </h4></span>
								<iframe class="youtube-player" type="text/html" width="640" height="385" ng-src="https://www.youtube.com/embed/yWUhmR8-2WA" frameborder="0" allowfullscreen>
								</iframe>
							</li>
						</ul>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="star-block">
							<i class="glyphicon glyphicon-star"></i>
							<i class="glyphicon glyphicon-star"></i>
							<i class="glyphicon glyphicon-star"></i>
							<i class="glyphicon glyphicon-star"></i>										
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="star-block">
							<i class="glyphicon glyphicon-star"></i>
							<i class="glyphicon glyphicon-star"></i>
							<i class="glyphicon glyphicon-star"></i>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="star-block">
							<i class="glyphicon glyphicon-star"></i>
							<i class="glyphicon glyphicon-star"></i>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="star-block">
							<i class="glyphicon glyphicon-star"></i>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>