<div class="content">
	<div class="row">
		<div class="col-md-12">
			<div class="rated-trailers-wrapper">
				<h3>Rated Trailers</h3>
				<div class="row" ng-if="vm.ratedTrailers[5]">
					<div class="col-md-12">
						<div class="star-block">
							<i class="glyphicon glyphicon-star"></i>
							<i class="glyphicon glyphicon-star"></i>
							<i class="glyphicon glyphicon-star"></i>
							<i class="glyphicon glyphicon-star"></i>					
							<i class="glyphicon glyphicon-star"></i>
						</div>
						<ul class="programs-list">
					 		<li ng-repeat="video in vm.ratedTrailers[5]">
								<span class="rating-container pull-left" ng-if="vm.userState.user !== null"><h4>Rating: <rating ng-click="vm.saveRating(video.url, video.userRating)" class="ratingQueryLarge" ng-model="video.userRating" max="5" on-hover="hoveringOver(value)" on-leave="overStar = null"></rating> </h4></span>
								<iframe class="youtube-player" type="text/html" width="640" height="385" ng-src="{{video.url | trusted}}" frameborder="0" allowfullscreen>
								</iframe>
							</li>
						</ul>
					</div>
				</div>
				<div class="row" ng-if="vm.ratedTrailers[4]">
					<div class="col-md-12">
						<div class="star-block">
							<i class="glyphicon glyphicon-star"></i>
							<i class="glyphicon glyphicon-star"></i>
							<i class="glyphicon glyphicon-star"></i>
							<i class="glyphicon glyphicon-star"></i>										
						</div>
						<ul class="programs-list">
					 		<li ng-repeat="video in vm.ratedTrailers[4]">
								<span class="rating-container pull-left" ng-if="vm.userState.user !== null"><h4>Rating: <rating ng-click="vm.saveRating(video.url, video.userRating)" class="ratingQueryLarge" ng-model="video.userRating" max="5" on-hover="hoveringOver(value)" on-leave="overStar = null"></rating> </h4></span>
								<iframe class="youtube-player" type="text/html" width="640" height="385" ng-src="{{video.url | trusted}}" frameborder="0" allowfullscreen>
								</iframe>
							</li>
						</ul>
					</div>
				</div>
				<div class="row" ng-if="vm.ratedTrailers[3]"> 
					<div class="col-md-12">
						<div class="star-block">
							<i class="glyphicon glyphicon-star"></i>
							<i class="glyphicon glyphicon-star"></i>
							<i class="glyphicon glyphicon-star"></i>
						</div>
						<ul class="programs-list">
					 		<li ng-repeat="video in vm.ratedTrailers[3]">
								<span class="rating-container pull-left" ng-if="vm.userState.user !== null"><h4>Rating: <rating ng-click="vm.saveRating(video.url, video.userRating)" class="ratingQueryLarge" ng-model="video.userRating" max="5" on-hover="hoveringOver(value)" on-leave="overStar = null"></rating> </h4></span>
								<iframe class="youtube-player" type="text/html" width="640" height="385" ng-src="{{video.url | trusted}}" frameborder="0" allowfullscreen>
								</iframe>
							</li>
						</ul>
					</div>
				</div>
				<div class="row" ng-if="vm.ratedTrailers[2]">
					<div class="col-md-12">
						<div class="star-block">
							<i class="glyphicon glyphicon-star"></i>
							<i class="glyphicon glyphicon-star"></i>
						</div>
					</div>
					<ul class="programs-list">
				 		<li ng-repeat="video in vm.ratedTrailers[2]">
							<span class="rating-container pull-left" ng-if="vm.userState.user !== null"><h4>Rating: <rating ng-click="vm.saveRating(video.url, video.userRating)" class="ratingQueryLarge" ng-model="video.userRating" max="5" on-hover="hoveringOver(value)" on-leave="overStar = null"></rating> </h4></span>
							<iframe class="youtube-player" type="text/html" width="640" height="385" ng-src="{{video.url | trusted}}" frameborder="0" allowfullscreen>
							</iframe>
						</li>
					</ul>
				</div>
				<div class="row" ng-if="vm.ratedTrailers[1]">
					<div class="col-md-12">
						<div class="star-block">
							<i class="glyphicon glyphicon-star"></i>
						</div>
						<ul class="programs-list">
					 		<li ng-repeat="video in vm.ratedTrailers[1]">
								<span class="rating-container pull-left" ng-if="vm.userState.user !== null"><h4>Rating: <rating ng-click="vm.saveRating(video.url, video.userRating)" class="ratingQueryLarge" ng-model="video.userRating" max="5" on-hover="hoveringOver(value)" on-leave="overStar = null"></rating> </h4></span>
								<iframe class="youtube-player" type="text/html" width="640" height="385" ng-src="{{video.url | trusted}}" frameborder="0" allowfullscreen>
								</iframe>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>