<div class="content">
	<div class="row">
		<div class="col-xs-8 pull-right">
			<ul class="programs-list scrollable">
					<h2 class="no-vids-error" ng-if="vm.trailers.videos.length == 0">No videos found</h2>
		 		<li ng-repeat="video in vm.trailers.videos" ng-class="{'genre-videos' : vm.trailers.videos.length > 3}">
					<rating class="ratingQueryLarge" ng-if="vm.userState.user !== null" ng-model="vm.rating" max="5" on-hover="hoveringOver(value)" on-leave="overStar = null"></rating>
					<iframe class="youtube-player" type="text/html" width="640" height="385" ng-src="{{video}}" frameborder="0" allowfullscreen>
					</iframe>
				</li>
			</ul>
		</div>
	</div>
</div>
